.back {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5634628851540616) 0%, rgba(9, 75, 121, 0.4458158263305322) 54%, rgba(0, 212, 255, 0.6166841736694677) 100%);
  justify-content: space-between;
}

.image {
  border-radius: 20px;
}

.nameContainer {
  height: 670px;
  width: 400px;
  background-color: rgba(177, 177, 177, 0.438);
  margin: 40px;
  border-radius: 20px;
}

.nameActivities {
  background-color: rgba(158, 192, 212, 0.487);
  border-radius: 20px;
}

.detail {
  height: auto;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 5px 2px 15px 0px rgba(255, 255, 255, 0.692);
  background-color: rgba(252, 250, 255, 0.303);
  display: flex;
  justify-content: space-between;
}

.data {
  background-color: rgba(159, 170, 254, 0.291);
  border-radius: 20px;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  background-color: transparent;
  color: #2794f4;
}




.lista {
  align-content: center;
  text-rendering: geometricPrecision;
  background-color: rgba(255, 255, 255, 0.323);
  margin-top: 10%;
  margin-right: 10%;
  scroll-snap-type: proximity;

}

.link {
  text-decoration-line: none;
  color: aliceblue;
}